**/node_modules
**/.vscode
**/.idea

leet-code/leet-code.exe
package-lock.json

rust/guessing-game/target
rust/guessing-game/Cargo.lock

other/toy-render/out
other/napi-demo/build/


napi-test/build

